.title {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  min-width: 100%;
  max-width: 100%;
}

.rounded {
  border-radius: 16px;
}

.button {
  cursor: pointer;
}

#archieved {
  margin-bottom: 10px;
}

#archieved button {
  padding: 5px 10px;
  border: solid;
  font-size: 1.25rem;
}

#archieved button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#archieved button:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
