.card {
  border: solid;
  margin: 5px auto 20px;
  padding: 10px;
}

.card > * {
  margin-bottom: 5px;
}

.card .button {
  display: flex;
  gap: 8px;
  /* justify-content: space-between; */
}

.card .button button {
  width: fit-content;
  padding: 5px 8px;
  margin-top: 10px;
  border: none;
  transition: background-color 0.5s;
}

.card button.delete {
  background-color: rgb(250, 9, 9);
  color: white;
}

.card .button .archieve {
  border: 1px solid;
}

.card .button .archieve:hover,
.card .button .archieve:active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.card .button .archieve:active {
  border: 3px double #fff;
}

.card button.delete:hover {
  background-color: darkred;
  cursor: pointer;
}

.card button.delete:active {
  border: 1px solid #000;
  background-color: #f00;
}
